<ion-view view-title="设置" hide-back-button="true" hide-tabs="false" hide-nav-bar="true">
  <!--<ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="rootBack()">
      <i class="icon ion-ios-arrow-left"></i>
    </button>
  </ion-nav-buttons>-->
  <ion-content class="bc-f4">
  <ion-list>
    <ion-item class="item item-icon-left text-center pl0b4">
      <!--<i class="icon ion-ios-arrow-left"  ng-click="rootBack()" style="float: left;"></i>-->
      <span><i class="icon ion-ios-arrow-left floatL"  ng-click="rootBack()"></i>设置</span>
    </ion-item>
    <!--  源自my-center list区  -->
    <ion-item class="item-icon-right item mt20">
      <span class="list-all">版本</span>
      <i class="icon ion-ios-arrow-right list-right"></i>
    </ion-item>
    <ion-item class="item-icon-right item">
      <span class="list-all">帮助中心</span>
      <i class="icon ion-ios-arrow-right list-right"></i>
    </ion-item>
    <!--  按钮  -->
    <ion-item class="background-343843 text-center item" ng-click="logout()">
      <i class="color-f">退出登录</i>
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>


