<ion-view view-title="待付款" hide-tabs="false" hide-nav-bar="true">
  <ion-content class="bc-f4">
    <ion-list>
      <ion-item class="item item-icon-left text-center pl0bcf4">
        <span class="color-f">
          <i class="icon ion-ios-arrow-left floatL"  ng-click="rootBack()"></i>
          待付款
        </span>
      </ion-item>
      <ion-item class="mt20 border-0 item">
        <span class="shop-Name-css">PLAYKING户外用品旗舰店</span>
        <span class="reminder">等待支付</span>
      </ion-item>
      <ion-item class="border-0 item item-thumbnail-left bc-f4" style="margin-left: 1px;min-height:110px">
        <img alt="#" src="http://seebong-hangzhou.oss-cn-hangzhou.aliyuncs.com/2015/3/26/68261a43-4e82-4f2d-891c-8429ed3d178d.png">
        <a class="onebytwo mL-085rem">
          <p class="fonts16 color-343843 overPaceN w10 ng-binding" style="margin-top: -4px;">PLAYKING户外通用登山包双肩背包男女旅行户外背...</p>
          <p class="font12-c9 ng-binding">橙色&nbsp;&nbsp;31*19*45CM</p>
          <!--<p class="activity-label self-indexH">活动专享</p>-->
          <p class="color-fe404c " style="margin-top: 13px"><i class="fontS19">¥138.00</i></p>
          <i class="icon icon-img-css amount">×1</i>
        </a>
      </ion-item>
      <ion-item class="border-0 item">
        <div class="close-an-account">
          <span>共<span>1</span>件商品</span>
          &nbsp;&nbsp;&nbsp;
                    <span>
                        合计：<i class="fontS14">¥138.00</i>
                    </span>
          &nbsp;
          <span>（运费¥：<span>0</span>）</span>
        </div>

        <div class="button-all-css">
          <span style="margin-right:12px">
             <i class="fontS14">待支付金额：</i><i class="fontS14" style="color:red">¥138.00</i>
          </span>

          <button class="self-button-all button-one">取消订单</button>

          <button class="self-button-all button-two">去支付</button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
