<ion-view>
  <ion-nav-title class="title-tab">
    <span>购物车</span>
  </ion-nav-title>
  <ion-content>
    <ion-list class="disable-user-behavior">
      <ion-item class="padding-null">
        <ion-checkbox >季风户外转营点</ion-checkbox>
      </ion-item>
      <!--  以下简称shop区，分左右  -->
      <ion-item class="padding-null">
        <div class="col col-20 floatL pl2">
          <ion-checkbox class="shop-checkbox"></ion-checkbox>
        </div>
        <div class="col col-80 floatL">
          <span class="col col-33 padding-null floatL">
            <img src="../www/img/a10.jpg" alt="#" class="w10"/>
          </span>
          <div class="col col-66 floatL">
            <span class="shop-right-font">
            WONNY蜗牛 健身滑雪系列手套JS-058 户外运动半指手套 通风透气舒适
          </span>
            <p class="shop-right-font2">黑色 S</p>
            <div class="w10">
              <p class="shop-money">¥178.00</p>
              <p class="shop-frame">
                <i class="shop-frame-left">-</i>
                <i class="shop-frame-middle">99</i>
                <i class="shop-frame-right">+</i>
              </p>
            </div>
          </div>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
