<ion-view view-title="我的资料" hide-tabs="false" hide-nav-bar="true">

  <ion-content class="bc-f4">
    <ion-list>
      <ion-item class="item item-icon-left text-center pl0bcf4">
        <span class="color-f">
          <i class="icon ion-ios-arrow-left floatL"  ng-click="rootBack()"></i>
          我的资料
        </span>
      </ion-item>

      <ion-item class="item-icon-right item">
        <span class="list-all">昵称</span>
        <i class="icon ion-ios-arrow-right list-right"></i>
      </ion-item>
      <ion-item class="item-icon-right item">
        <span class="list-all">性别</span>
        <i class="icon ion-ios-arrow-right list-right"></i>
      </ion-item>
      <ion-item class="item-icon-right item">
        <span class="list-all">出生日期</span>
        <i class="icon ion-ios-arrow-right list-right"></i>
      </ion-item>
      <ion-item class="item-icon-right item">
        <span class="list-all">地址管理</span>
        <i class="icon ion-ios-arrow-right list-right"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
