<ion-view view-title="找回密码" hide-tabs="false" hide-nav-bar="true">
  <ion-content class="bc-f4">
    <ion-list>
      <ion-item class="item item-icon-left text-center pl0bcf4">
        <span class="color-f">
          <i class="icon ion-ios-arrow-left floatL"  ng-click="rootBack()"></i>
          找回密码
          <a class="loginButton color-f" href="#/tab/center">个人中心</a>
        </span>
      </ion-item>
      <ion-item class="item item-input row bmW padding-null">
        <span class="input-label wcfw ml10" aria-label="验&nbsp;&nbsp;证&nbsp;&nbsp;码">验&nbsp;&nbsp;证&nbsp;&nbsp;码</span>
        <input type="number" placeholder="请输入验证码" class="phoneButton">

        <button class="button button-light button-clear bcfbw register-num-father">获取验证码</button>
      </ion-item>
      <ion-item class="item-input border-M position-r item">
        <span class="input-label padding-W" aria-label="密码">密码</span>
        <input type="password" maxlength="50" class="pr5" placeholder="请输入6位以上密码(区分大小写)">
        <i ng-class="{'icon-see':see,'icon-eye':!see}" class="position-ajZ icon-see" ></i>
      </ion-item>
      <ion-item class="item-input border-M position-r item">
        <span class="input-label padding-W" aria-label="重复密码">重复密码</span>
        <input type="password" maxlength="50"  placeholder="确认密码">
      </ion-item>
      <ion-item class="cut-off button-clear border-M padding-null item">
        <a  class="button button-block color-font all color border-0" href="#/tab/center">确认</a>
        <!--ng-disabled="checkRegisterInfo()"-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
