<ion-view view-title="注册" hide-tabs="false" hide-nav-bar="true">
  <ion-content class="bc-f4">
    <ion-list>
      <ion-item class="item item-icon-left text-center pl0bcf4">
        <span class="color-f">
          <i class="icon ion-ios-arrow-left floatL"  ng-click="rootBack()"></i>
          注册
          <i class="loginButton" ng-click="loginGo('tab.login')">登录</i>
        </span>
      </ion-item>

      <ion-item class="item item-input bmW">
          <span class="input-label wcfw ml-5" aria-label="手&nbsp;&nbsp;机&nbsp;&nbsp;号" id="_label-6">手&nbsp;&nbsp;机&nbsp;&nbsp;号</span>
          <input type="number" ng-model="user.phone" placeholder="填写手机号" class="ng-pristine ng-untouched ng-valid ng-empty">
        </ion-item>
      <ion-item class="item item-input bmW register-num-grand-father">
        <input type="text" maxlength="10" ng-model="user.checkCode" placeholder="请输入数字验证码" class="phoneButton" >

        <button ng-click="updateCheckCode()" class="button button-light button-clear bcfbw register-num-father">
          <img src="http://passport.seebong.com/Code/GetCodeImage_App?key=C76E18EC9B10000195DA18BD13401805" class="register-num">
        </button>
      </ion-item>
      <ion-item class="item item-input row bmW padding-null">
        <span class="input-label wcfw ml10" aria-label="验&nbsp;&nbsp;证&nbsp;&nbsp;码">验&nbsp;&nbsp;证&nbsp;&nbsp;码</span>
        <input type="number" placeholder="请输入验证码" class="phoneButton">

        <button class="button button-light button-clear bcfbw register-num-father">获取验证码</button>
      </ion-item>
      <ion-item class="item item-input bmW">
        <span class="input-label wcfw ml-5" aria-label="登录密码" id="_label-8">登录密码</span>
        <input type="password" maxlength="16" placeholder="请输入6-16位以密码">
        <i class="icon-see"></i>
      </ion-item>
      <ion-item class="item item-input bmW">
        <span class="input-label wcfw ml-5" aria-label="密码确认">密码确认</span>
        <input type="password" maxlength="16"  placeholder="再次输入密码">
      </ion-item>
      <ion-item class="cut-off button-clear border-M padding-null item">
        <button  class="button button-block color-font all color border-0">注册</button>
        <!--ng-disabled="checkRegisterInfo()"-->
      </ion-item>
      <ion-item class="button-clear item">
        <span class="button-clear fcbb">注册表示同意 <a href="#" class="red3db4ff">《用户注册服务条款》</a></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
