.title-tab{
  background: #343843;
  width: 100%;
  display: inline-block;
  color: #f1f1f1 !important;
}
.title-div_span1{
  display: block;
  margin-top: -6px;
}
/**  setUp-->css  **/
.pl0b4{
  padding-left: 0 !important;
  background: #f4f4f4;
}
